/* ================================================================
Non-specific styles
================================================================ */

:root {
    --scoresHeight: 50px; /*Calculate?*/
}

a {
    text-decoration: none;
    color: unset;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex: 0 80px;
    display: flex;
    background-color: #bf7e34;
    justify-content: flex-end;
    align-items: center;
}

footer {
    flex: 0 30px;
    max-height: 30px;
    display: flex;
    background-color: #a36b2a;
    align-items: center;
    padding-left: 10px;
}

main {
    position: static;
    flex: 1 calc(100vh - 110px);
    background-color: #e39b49;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #4da4fa;
}

button:hover {
    cursor: pointer;
    outline: 5px solid #4da4fa; /*todo fix me*/
}

.topMenu {
    background-color: green;
    min-width: min-content;
}

/* ================================================================
Home page
================================================================ */

.mainTitle {
    margin: 15px;
    font-size: 2.5em;
}

#homeTopTitle {
    display: none;
}

#homeTopMenu {
    width: 350px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25%;
}

.homeButton {
    width: 75%;
    height: 45px;
    text-align: center;
}

#homeMainTitle {
    margin: 5px 0 0 0;
}

#homePlayButton {
    margin-top: -15px;
}

#homeLogoutButton {
    text-align: center;
    width: 35%;
    height: 35px;
    margin-bottom: 5%;
}

/* ================================================================
index page
================================================================ */

#indexTopTitle {
    display: none;
}

#indexTopMenu {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 25%;
    min-width: min-content;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#loginButton {
    margin-top: 10px;
    margin-bottom: 35px;
}

/* ================================================================
Play page
================================================================ */

#playMain {
    justify-content: unset;
    align-items: unset;
}

#mainBox {
    position: relative;
    background-color: blue;
    left: 25%;
    top: 0;
    width: 50%;
    height: calc(100% - 30px);
    z-index: 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#scores {
    position: absolute;
    background-color: #258850;
    z-index: 2;
    width: 20%;
    height: var(--scoresHeight);
}

#mainHeader {
    background-color: green;
    flex: 0 60px;
}

#mainGame {
    background-color: #bf7e34;
    flex: 1 calc(100% - 90px);
}

#mainFooter {
    flex: 0 20px;
    background-color: brown;

}

#game {
    position: relative;
    z-index: 4;
    max-width: calc(100vh - 220px);
    background-color: blue;
    aspect-ratio: 1 / 1;
    top: 0px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

#gridContainer {
    background-color: yellow;
    position: absolute;
    margin: 7px;
    z-index: 5;
    top: 0;
    left: 0;
    height: calc(100% - 14px);
    width: calc(100% - 14px);
}

.topBar {
    position: absolute;
    background-color: orange;
    width: calc(20% - 5px);
    height: 50px;
    z-index: 5;
    top: 0;
    border: 5px solid red;
    text-align: center;
}

#lives {
    left: 0px;
}

#coverage {
    left: 20%;
}

#level {
    left: 40%;
}

#timer {
    left: 60%;
}

#playButtonContainer {
    left: 80%;
}

/* ================================================================
Tutorial page
================================================================ */

#tutorialTopMenu {
    height: 65%;
    width: 45%;
    min-width: min-content;
    justify-content: space-around;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

h2 {
    margin: 10px 0;
}

#tutorialMainTitle {
    margin: 0;
}

#tutorialButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tutorialBackButton {
    max-width: 20%;
}

/* ================================================================
Leaderboard page
================================================================ */

#scoresTopTitle {
    display: none;
}

#scoresTopMenu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

#scoresMainTitle {
    margin: 5px;
}

table, td, th {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

table {
    background-color: #04c904;
}